<div class="small-description-box mat-elevation-z2">
    There are two mapping styles available: Linear space and Geometric space. <br>
    This setting controls how the plot points are generated when analyzing a chunk. The linear space gives an even distribution of the data for each chunk, while the geometric space gives the higher frequencies a larger chunk to map data from.
</div>

<div>
    Available Mapping Styles:
</div>

<mat-radio-group class="radio-group" [(ngModel)]="selectedMappingStyle" [ngModelOptions]="{standalone: true}" (change)="onStyleChanged($event)">
    <mat-radio-button color="primary" class="radio-button" *ngFor="let style of mappingStyles" [value]="style">
        {{style}}
    </mat-radio-button>
</mat-radio-group>