<div class="small-description-box mat-elevation-z2">
    This setting controls the previous peaks buffers. The buffer is used to normalize the output data of the audio analyzer, averaging the new values with the previously calculated n sets of peaks, where n is the buffer's length.<br>
    This buffer is also used to control the new peak's velocity, using only the last value in the buffer to calculate the new travel distance.
</div>

<mat-form-field>
    <input matInput type="number" [(ngModel)]="bufferLength" placeholder="Buffer Length" (change)="onBufferLengthChanged($event)">
</mat-form-field>

<div class="slider-container velocity-slider">
    <div class="slider-field">
        <label>Velocity:</label>
        <mat-slider
            color="primary"
            thumbLabel
            min="1"
            max="100"
            [displayWith]="formatVelocity"
            [(value)]="velocity"
            (change)="onVelocityChanged($event)">
        </mat-slider>
    </div>
</div>

<div class="slider-field">
    <label>Data Averaging:</label>
    <mat-slider
        color="primary"
        thumbLabel
        min="0"
        max="100"
        tickInterval="100"
        step="1"
        [displayWith]="formatDataAveraging"
        [(value)]="dataAveraging"
        (change)="onDataAveragingChanged($event)">
    </mat-slider>
</div>