<div class="main-window-content">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">palette</mat-icon>
                    Colors
                </ng-template>
                <div class="tab-container">     
                    <app-color-settings></app-color-settings>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">brightness_5</mat-icon>
                    LED Brightness
                </ng-template>
                <div class="tab-container">     
                    <app-led-brightness></app-led-brightness>
                </div>
            </mat-tab>
    
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">blur_linear</mat-icon>
                    LED Falloff
                </ng-template>
                <div class="tab-container">     
                    <app-led-falloff></app-led-falloff>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>