<div class="main-window-content">
    <mat-tab-group>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">speed</mat-icon>
                Motor Speed
            </ng-template>
            <div class="tab-container">
                <app-motor-speed></app-motor-speed>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">compare_arrows</mat-icon>
                Chunk Margins
            </ng-template>
            <div class="tab-container">     
                <app-chunk-margins></app-chunk-margins>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">category</mat-icon>
                Mapping Styles
            </ng-template>
            <div class="tab-container">     
                <app-mapping-styles></app-mapping-styles>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">equalizer</mat-icon>
                Number Of Bars
            </ng-template>
            <div class="tab-container">     
                <app-number-of-bars></app-number-of-bars>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">mediation</mat-icon>
                Averaging
            </ng-template>
            <div class="tab-container">
                <app-buffers></app-buffers>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">volume_up</mat-icon>
                Amplitude
            </ng-template>
            <div class="tab-container">
                <app-amplitude-settings></app-amplitude-settings>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>