<div class="mat-app-background basic-container">

    <div class='progress-spinner-background' *ngIf="false" @inOutAnimation>
        <div class="progress-spinner-center">
            <mat-spinner diameter="75" style="margin-bottom: 16px;"></mat-spinner>
            Connecting to Master API...
            <div *ngIf="connectionError">
                Connection to the API failed. Please refresh this page to try again.
            </div>
        </div>
    </div>

    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Project: SPECTRUM Dashboard</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-container" autosize>
        <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
            <mat-nav-list>
                <mat-list-item class="parent" [routerLink]="['master']" [routerLinkActive]="['navigation-active']">
                    <span class="full-width" *ngIf="isExpanded || isShowing">Master Settings</span>
                    <mat-icon mat-list-icon>graphic_eq</mat-icon>
                </mat-list-item>
                <mat-list-item class="parent" [routerLink]="['slave']" [routerLinkActive]="['navigation-active']">
                    <span class="full-width" *ngIf="isExpanded || isShowing">Slave Settings</span>
                    <mat-icon mat-list-icon>track_changes</mat-icon>
                </mat-list-item>
                <mat-list-item class="parent" (click)="saveAllSettingsClicked($event)">
                    <span class="full-width" *ngIf="isExpanded || isShowing">Save All Settings</span>
                    <mat-icon mat-list-icon>save_alt</mat-icon>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        
        <router-outlet></router-outlet>
    </mat-sidenav-container>            
</div>  